//Microsoft Visual C++ で生成されたリソース スクリプトです。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE リソースから生成されました。
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE 17, 1

/////////////////////////////////////////////////////////////////////////////
//
// アイコン
//

// アプリケーション アイコンをすべてのシステム上で維持するために、最も小さい
// ID 値のアイコンが最初に配置されます。

IDI_KAKTOSENGINE       ICON         "kaktosEngine.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// メニュー
//

IDC_KAKTOSENGINE MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "終了する(&X)",                IDM_EXIT
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "コンポーネント",               IDM_VIEW_COMPONENTS, CHECKED
        MENUITEM "インスペクタ",                 IDM_VIEW_INSPECTOR, CHECKED
        MENUITEM "フローグラフ",                 IDM_VIEW_FLOWGRAPH
        MENUITEM "プレビュー",                   IDM_VIEW_PREVIEW
        MENUITEM "イベント一覧",                 IDM_VIEW_EVENTLIST
        MENUITEM "変数管理",                   IDM_VIEW_VARIABLES
        MENUITEM SEPARATOR
        MENUITEM "レイアウトを初期化",           IDM_VIEW_RESET_LAYOUT
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "再読み込み\tCtrl+R",           IDM_EDIT_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "戻る\tCtrl+Z",                 IDM_EDIT_UNDO
        MENUITEM "進む\tCtrl+Y",                 IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "切り取り\tCtrl+X",             IDM_EDIT_CUT
        MENUITEM "コピー\tCtrl+C",               IDM_EDIT_COPY
        MENUITEM "貼り付け\tCtrl+V",             IDM_EDIT_PASTE
        MENUITEM "すべて選択\tCtrl+A",           IDM_EDIT_SELECT_ALL
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)...",           IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// アクセラレータ
//

IDC_KAKTOSENGINE ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
    "R",            IDM_EDIT_RELOAD,        ASCII,  CONTROL, VIRTKEY
    "Z",            IDM_EDIT_UNDO,          ASCII,  CONTROL, VIRTKEY
    "Y",            IDM_EDIT_REDO,          ASCII,  CONTROL, VIRTKEY
    "X",            IDM_EDIT_CUT,           ASCII,  CONTROL, VIRTKEY
    "C",            IDM_EDIT_COPY,          ASCII,  CONTROL, VIRTKEY
    "V",            IDM_EDIT_PASTE,         ASCII,  CONTROL, VIRTKEY
    "A",            IDM_EDIT_SELECT_ALL,    ASCII,  CONTROL, VIRTKEY
END


/////////////////////////////////////////////////////////////////////////////
//
// ダイアログ
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報 kaktosEngine"
FONT 9, "MS UI Gothic"
BEGIN
    ICON            IDI_KAKTOSENGINE,IDC_STATIC,14,14,21,20
    LTEXT           "kaktosEngine, バージョン 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (c) 2026",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 文字列テーブル
//

STRINGTABLE
BEGIN
   IDC_KAKTOSENGINE   "KAKTOSENGINE"
   IDS_APP_TITLE       "kaktosEngine"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE リソースから生成されました。
//

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
